.container {
  // min-height: 100vh;
  margin: 0 auto;
  max-width: 800px;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  display: block;
  font-weight: 300;
  font-size: 95px;
  color: #35495e;
  letter-spacing: 1px;
  margin-top: 4rem;
  margin-bottom: 4rem;
  vertical-align: middle;
  
  a {
    text-decoration: none;
  }

  span.title__text {
    vertical-align: middle;
  }
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}

.back {
  font-size: 50px;
}

p, ul {
  margin-bottom: 1em;
}
